.button {
  background-color: white;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

/*
.button:hover .heart {
  transform-origin: 0 0;
  transform: scale(1.2);
}
*/

.heart {
  width: 45px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transition: all 2s ease-in-out;*/
}

@media (max-width: 1100px) {
  .button {
    background-color: white;
    width: 55px;
    height: 55px;
  }

  .heart {
    width: 35px;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
