.frame {
  position: relative;
  height: 700px;
  width: 375px;

  overflow-x: hidden;

  border: 2px solid black;
  border-radius: 40px;
}

.list {
  display: block;
  flex-direction: column;
  justify-content: flex-end;

  height: inherit;
  width: inherit;

  overflow-y: auto;
  position: absolute;
}
