.button {
  background-color: white;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.x {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1100px) {
  .button {
    background-color: white;
    width: 35px;
    height: 35px;
  }

  .x {
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
