.youtube {
  height: 80%;
  width: 80%;
}

.youtubeActual {
  border-radius: 30px;
  width: 1100px;
  height: 600px;
}

@media only screen and (max-width: 1100px) {
  .youtubeActual {
    width: 720px;
    height: 380px;
  }
}

@media only screen and (max-width: 700px) {
  .youtubeActual {
    border-radius: 20px;
    width: 500px;
    height: 260px;
  }
}

@media only screen and (max-width: 470px) {
  .youtubeActual {
    border-radius: 20px;
    width: 340px;
    height: 180px;
  }
}
