.youtube {
  height: 80%;
  width: 80%;
}

.youtubeActual {
  border-radius: 30px;
  width: 1100px;
  height: 600px;
}

@media (max-width: 500px) {
  .youtubeActual {
    width: 400px;
    height: 200px;
  }
}
