.streamAndMessages {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.streamAndVoting {
  display: flex;
  flex-direction: column;
}

.voting {
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.chat {
  display: flex;
  flex-direction: column;
}
